# Environments
.venv/
env/
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Datasets and Media (too large for git)
archive.zip
src/data/*
!src/data/README.md
src/manual_test/

# Large Model Weights
*.pt
# !src/pose_landmarker_lite.task (optional to include)

# Allow the final hybrid model and metrics
!src/hybrid_pose_mobilenet_model_v2.h5
!src/confusion_matrix.png

# Ignore secondary models
simple_cnn_model.h5
mobilenet_model.h5
hybrid_pose_mobilenet_model.h5

# Local logs
*.log
