# Environments
.venv/
env/
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Datasets and Media (too large for git)
archive.zip
src/data/*
!src/data/README.md
src/manual_test/

# Large Model Weights
*.pt
*.task
simple_cnn_model.h5

# Local logs
*.log
